<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/logs/internallog_Service.txt">
  <!--<extensions>
    <add assembly="NLog.Targets.GraylogHttp"/>
  </extensions>-->

  <targets>
    <!--<target name="graylog" type="GraylogHttp" facility="Service" graylogServer="http://localhost" graylogPort="12201">
      <parameter name="source_method" layout="${callsite}" />
      <parameter name="source_line" layout="${callsite-linenumber}" />
      <parameter name="test_prop" layout="${event-context:item=test_prop}" />
    </target>-->
    <!-- local file target -->
    <target name="Debugfile"
              xsi:type="File"
              fileName="logs_service.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="5000000" />

    <target name="Errorfile"
              xsi:type="File"
              fileName="ErrorLogs.log"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="5000000" />

    <!--layout="${shortdate} ${level:uppercase=true} ${message}"-->
  </targets>

  <rules>
    <!--<logger name="*" minLevel="Debug" writeTo="graylog"/>-->
    <logger name="ServiceLogger" minLevel="Info" writeTo="Debugfile" />
    <logger name="ErrorLogger" minLevel="Debug" writeTo="Errorfile" />
  </rules>
</nlog>